---
import Layout from "../layouts/Layout.astro";

import Card from "../components/Card.astro";
import Heading from "../components/Heading.astro";
import Pill from "../components/Pill.astro";
import Bentasell from '../assets/Bentasell.png';
import Pixie from '../assets/Pixie.png';
import JSLogo from "../assets/js-logo.png";
import React from "../assets/react-logo.png";
import NodeLogo from "../assets/node-logo.png";
import VueLogo from "../assets/vue-logo.png";
import AngLogo from "../assets/angular-logo.png";
import MySQL from "../assets/mysql-logo.png";
import MaxPFP from "../assets/max-pfp-2.jpg";
import CPPLogo from "../assets/cpp-logo.png";
import JavaLogo from "../assets/java-logo.png";
import PythonLogo from "../assets/python-logo.png";
import DjangoLogo from "../assets/django-logo.png";
import Postgres from "../assets/postgresql-logo.png";
import htmlLogo from "../assets/html-logo.png";
import cssLogo from "../assets/css3-logo.png";
import Creatizens from "../assets/Creatizens.png";
import InforLogo from "../assets/Infor.png";
import Cynder from "../assets/Cynder.png";
import Ateneo from "../assets/Ateneo.jpg";
//Professional Work Components
import Project from "../components/Project.astro";
//Project Components
---

<Layout title="Maximo Hizon">
  <div id="contents">
    <main class="container">
      <div>
        <Heading />
          <div class="intro-content">
            <div class="intro-text">
              <h1 class="text-4xl mt-6 font-medium lg:text-5xl tracking-tight text-primary header-text mb-2">Who Am I?</h1>
              <br>
              <p class="paragraph-text text-primary text-2xl">
                Hi! I'm Max, a Software Developer who primarily works with Web Applications using Javascript and its
                different libraries and frameworks. I also try to program using other langauges such as Java and C++ 
                on the side, and I know a little bit of Python. When I'm not building apps, I'm playing video games
                and music. You can get in touch with me <a href="#" class="link-line">here </a>
              </p>
            </div>
            <div>
              <img class="profile-pic" src={MaxPFP.src}>
            </div>
          </div>
        <h2
        class="text-3xl mt-6 font-medium lg:text-5xl tracking-tight text-primary header-text">Skills</h2>
        <h3 class="text-xl mt-6 font-medium lg:text-3xl tracking-tight text-primary header-text">Primary</h3>
        <div class="pillGroup">
          <Pill icon={JSLogo.src} codeName="Javascript" />
          <Pill icon={htmlLogo.src} codeName="HTML5" />
          <Pill icon={cssLogo.src} codeName="CSS3" />
          <Pill icon={React.src}codeName="React" />
          <Pill icon={NodeLogo.src}codeName="Node.js" />
          <Pill icon={VueLogo.src}codeName="Vue" />
          <Pill icon={AngLogo.src}codeName="Angular" />
          <Pill icon={MySQL.src}codeName="MySQL" />
        </div>
        <h3 class="text-xl mt-6 font-medium lg:text-3xl tracking-tight text-primary header-text">Secondary</h3>
        <div class="pillGroup">
          <Pill icon={CPPLogo.src} codeName="C++"/>
          <Pill icon={JavaLogo.src} codeName="Java"/>
          <Pill icon={PythonLogo.src} codeName="Python"/>
          <Pill icon={DjangoLogo.src} codeName="Django"/>
          <Pill icon={Postgres.src} codeName="PostgreSQL"/>
        </div>
      </div>

      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary header-text mb-2"
      >
        Projects
      </h2>
      <br>
      <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="bentasell"
            title="bentaSell"
            body="An inventory management system (WIP)"
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full image-container">
              <Project image={Bentasell.src} />
            </div>
          </Card>
        </div>

        <div class="">
          <Card
            href="pixie"
            title="Pixie Dust Enterprises"
            body="An inventory and transactions tracker"
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full image-container">
              <Project image={Pixie.src} />
            </div>
          </Card>
        </div>
      </div>

      <div class="block-margin-bottom">
        <h2
          class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary header-text"
        >
          Experience
        </h2>
        <br>
        <div>
          <div>
            <img class="work-icon" src={Creatizens.src}>
            <h3 class="industry mb-2 text-2xl font-bold tracking-tight header-text"> Creatizens Corp: Full Stack Software Developer Apprentice (April '24 - Present)</h3>
          </div>
        </div>
        <br>
        <div>
          <div>
            <img class="work-icon" src={InforLogo.src}>
            <h3 class="industry mb-2 text-2xl font-bold tracking-tight header-text"> Infor: Development and Quality Assurance Intern (August '23 - November '23)</h3>
          </div>
        </div>
        <br>
        <div>
          <div>
            <img class="work-icon" src={Cynder.src}>
            <h3 class="industry mb-2 text-2xl font-bold tracking-tight header-text"> Cynder: Web Development Intern (June '22 - August '22)</h3>
          </div>
        </div>
      </div>

      <h2
        class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary header-text mb-2"
      >
        Education
      </h2>
      <br>
      <div class="block-margin-bottom">
        <img class="work-icon" src={Ateneo.src}>
        <h3 class="industry mb-2 text-2xl font-bold tracking-tight header-text"> BS Computer Science</h3>
        <p class="mt-4 text-xl paragraph-text just-text">
          Ateneo de Manila University
        </p>
      </div>
    </main>
  </div>
</Layout>

<style is:global>
  main {
    margin: auto;
    padding: 0.75rem;
    width: 1100px;
    max-width: 100%;
    color: white;
    line-height: 1.6;
  }
  .intro-text{
    margin: auto;
  }
  .intro-content{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 75px;

  }
  .profile-pic{
    max-height: 500px;
    max-width: 300px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(116, 188, 255, 0.575), 0 6px 20px 0 rgba(116, 188, 255, 0.575);
    margin-left: 40px;
  }

  .pic-container {
    margin-left: 10px;
  }
  .image-container{
    width: 350px;
    max-height: 175px;
    overflow: hidden;
  }

  .work-icon {
    max-width: 50px;
    max-height: 50px;
  }

  .block-margin-bottom{
    margin-bottom: 45px;
  }

  .project-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  .project-cards {
  }
  .video-wrapper {
    background: #111111;
    padding: calc(1.5rem - 1px);
    line-height: 1.4;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .project-column > div {
    max-width: 100%;
    overflow: hidden;
  }
  .projects-alt > li {
    gap: 1rem !important;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    font-size: 2.75rem;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .link-line {
    text-decoration: underline;
  }
  .link-card-grid {
    display: grid;
    gap: 0;
    padding: 0;
  }
  .read-more {
    color: #fff;
  }
  details {
    position: relative;
    top: -1px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    max-width: 900px;
  }
  details > div {
    max-width: 830px;
  }

  summary:hover {
    cursor: pointer;
  }

  .pillGroup {
    display: flex;
  }
  .just-text {
    text-align: justify;
  }

  .border-dark-blue{
    border-color: rgb(16, 59, 116);
  }
</style>

<script></script>
